.principal
{   padding:20px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 80px 30px 80px 30px;
    background-color: #0e424fd8;
    color: white;
    
    
}
.principal h2 {
padding-left: 10px;
color: #ffffff;
font-size: 40px;
font-style: oblique;
text-decoration: underline;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info{
    padding:30px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}
.gallery {
    --size: 100px;
    display: grid;
   
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    gap: 5px;
    place-items: start center;
    margin-bottom: var(--size);
  }
  
  .gallery img {
    width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  object-fit: cover;
  grid-column: auto / span 2;
  border-radius: 5px;
  clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z"); 
  }
  
  .gallery img:nth-child(5n - 1) { 
    grid-column: 2 / span 2 
  }
.gallery:has(img:hover) img:not(:hover) {
    filter: brightness(0.5) contrast(0.5);
  }  
  .gallery img {
    
    transition: clip-path 0.25s, filter 0.75s;
  }
  
  .gallery img:hover {
    clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
    transition: clip-path 0.25s, filter 0.25s;
    z-index: 1;
  }
  .gallery a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
  }

  footer{
    background-color: #0e424fd8;
    padding: 0px 30px;
    height: 80px;
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .link{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
  }
  footer .link a{
    color: white;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 20px;
    text-decoration: solid;
  }
  
.principal .minigallery
{    scroll-margin-left: 30px;
    display:flex;
    flex-wrap: wrap;
    gap: 50px 10px;
    flex-grow: calc(40px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

}
.principal .minigallery img{
   
    object-fit: cover;
    width: 350px;
    height: 250px;
}


#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color:#0e424fd8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #fffffff2;
  }
  
  #question {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    color: #131313;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0), 245, 161;
    color: #131313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px
  }
  
  button:hover {
    background-color: #8f8d8d;
  }